<main id="id-main">
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>CERTIFICAÇÃO (CLCB) E (AVCB)</h1>
                    <h4>Evite Multas e Garanta a Segurança do seu Negócio com Certificações CLCB e AVCB</h4>
                    <p>Antes de mais nada, é essencial mencionar que a <mark>falta de certificação CLCB e AVCB pode acarretar em multas
                        significativas</mark> para a sua residência,
                        estabelecimento, condomínio e industria. Essas certificações são fundamentais para cumprir com as normas de
                        segurança contra incêndios e evitar penalidades financeiras.</p>
                    <h4>O que é o CLCB?</h4>
                    <p>O Certificado de Licença do Corpo de Bombeiros (CLCB) é um documento obrigatório para diversos tipos de
                        estabelecimentos e empresas. Ele atesta que o local está de acordo com as normas de segurança contra incêndios.
                    </p>
                    <h4>E o AVCB?</h4>
                    <p>O Auto de Vistoria do Corpo de Bombeiros (AVCB) confirma que o local foi vistoriado e está em conformidade com as
                        normas de segurança contra incêndios.</p>
                    <h4>Por que são importantes?</h4>
                    <p>Além de garantir a segurança de todos que frequentam o seu estabelecimento, incluindo clientes e funcionários,
                        essas certificações são exigidas por lei em muitos lugares.
                        <span>Manutenção Sistema de Combate a Incêndio é essencial para garantir que não haja falhas de equipamentos em uma
                        eventual necessidade e consequentemente,
                        essas falhas comprometam a segurança de pessoas e estruturas, emitimos ART com a devida vistoria e relatório
                        técnico para não ter surpresa e complicações com seguros.</span>
                        Profissionais devidamente capacitados para a atividade são destinados a realizar a manutenção sistema de combate
                        a incêndio, pois a experiência é fundamental para garantir a assertividade dos equipamentos.
                    </p>
                    <h4>Quais são os cuidados necessários na manutenção do sistema de combate a incêndio?</h4>
                    <p>
                        A manutenção sistema de combate a incêndio deve garantir que todos os equipamentos funcionem corretamente.
                        Envolvem
                        os sistemas de hidrantes, alarmes e detectores, sprinklers, sistema fixo de gases, cortinas d’água e portas
                        corta-fogo, além de outros equipamentos, conforme o sistema instalado no local.
                        O ideal é que a empresa, edifício comercial ou residencial ou indústria realize a manutenção sistema de combate
                        a
                        incêndio de maneira preventiva, evitando gastos desnecessários com a manutenção corretiva e garantindo que os
                        equipamentos estejam em boas condições de uso em qualquer eventualidade, aumentando sua confiabilidade e
                        segurança.
                        A manutenção sistema de combate a incêndio preventiva tem um roteiro a ser seguido pela norma ABNT NBR
                        99441/1998,
                        com procedimentos mensais, trimestrais e anuais. Seu cumprimento evita surpresas desagradáveis em casos de
                        emergência.
                        A manutenção sistema de combate a incêndio deve contar com uma inspeção técnica de qualidade. Para isso, é
                        fundamental que os profissionais envolvidos na atividade tenham o conhecimento e experiência adequados, passem
                        por
                        treinamentos constantes e contem com o apoio necessário para a atividade.
                    </p>
                    <h4>Quanto custa ficar sem esses certificados?</h4>
                    <p>As multas por não possuir o CLCB ou AVCB variam dependendo da legislação local e do tipo de estabelecimento, mas
                        podem ser bastante elevadas. A não conformidade pode acarretar em interdição do estabelecimento até a
                        regularização.</p>
                    <h4>Como podemos ajudar?</h4>
                    <p>Como profissionais especializados, estamos aqui para facilitar o processo de obtenção dessas certificações. Entre
                        em contato hoje mesmo para saber mais e garantir a segurança do seu estabelecimento!</p>
                    <div class="btn-contato">
                        <a routerLink="/previnc">
                            <button (click)="scrollToTop()">VER MAIS</button>
                        </a>
                    </div>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../assets/img/certificado.png" alt="">
                    <img class="logo-corpo" src="../../../assets/img/prev-de-incendio.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>