<header>
    <div class="interface">
        <div class="logo">
            <a routerLink="">
                <img class="logocomobat" src="../../assets/img/logocombat.jpg" alt="LOGO COMBAT">
            </a>
        </div>
        <div class="nome">
            <h1>Combatt Engenharia</h1>
        </div>
        <nav>
            <ul id="menu">
                <li><a routerLink="">INÍCIO</a></li>
                <li><a routerLink="/servicos">SERVIÇOS</a></li>
                <li><a routerLink="/clientes">CLIENTES</a></li>
            </ul>
        </nav>
        <div class="btn-contato">
            <a routerLink="/contato">
                <button>CONTATO</button>
            </a>
        </div>
    </div>
</header>
