header{
    display: flex;
    align-items: center;
}

.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgba(255, 0, 0, 0.849);
    height: 100px;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 0; /* Define a posição do elemento no topo */
    left: 0; /* Define a posição do elemento à esquerda */
    width: 100%; /* Define a largura do elemento para ocupar toda a largura da tela */
    z-index: 999; /* Define a ordem de empilhamento do elemento */
}

.logocomobat{
    width: 100px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 40px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
    transition: color 0.3s; /* Transição para a cor durante 0.3 segundos */
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
}

a:hover{
    color: white;
    font-size: 20px;
    transition: color 0.3s; /* Transição para a cor durante 0.3 segundos */
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
}

h1{
    color: white;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
    box-shadow: 0px 0px 8px white;
}

button:hover{
    font-size: 25px;
    transition: font-size 0.3s; /* Transição para a cor durante 0.3 segundos */
}

@media (max-width: 1300px) {
    #menu{
        display: none;
    }
}
