<header>
    <div class="interface">
        <div class="logo">
            <a href="#">
                <img class="logocomobat" src="../../assets/logocombat.jpg" alt="LOGO COMBAT">
            </a>
        </div>
        <div class="nome">
            <h1>Combat Engenharia</h1>
        </div>
        <nav>
            <ul id="menu">
                <li><a href="#">INÍCIO</a></li>
                <li><a href="#">SOBRE NÓS</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">CLIENTES</a></li>
            </ul>
        </nav>
        <div class="btn-contato">
            <a href="#">
                <button>CONTATO</button>
            </a>
        </div>
    </div>
</header>
