<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>CERTIFICAÇÃO (CLCB) E (AVCB)</h1>
                    <h4>Serviços Que Elaboramos</h4>
                    <ul>
                        <li>Laudo CLCB/ AVCB de Prevenção e Combate contra Incêndios.</li>
                        <li>ART de prevenção de combate a incêndio.</li>
                        <li>Instalação de placas de emergência.</li>
                        <li>Recarga de extintores de incêndio.</li>
                        <li>Reteste de mangueiras de incêndio.</li>
                        <li>Projetos de segurança de incêndio e pânico. </li>
                        <li>Instalação de equipamentos contra incêndio. </li>
                        <li>Manutenção de sistemas preventivos de incêndio.</li>
                        <li>Consultoria.</li>
                    </ul>
                    <div class="btn-contato">
                        <a routerLink="/contato">
                            <button>FAÇA SEU ORÇAMENTO</button>
                        </a>
                    </div>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../../assets/img/prev-de-incendio.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>