<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>ELÉTRICA</h1>
                    <p>Oferecemos serviços especializados em eletricidade para atender às suas necessidades residenciais e comerciais. Nossa equipe experiente está pronta para lidar com projetos, laudos, instalações e reparos elétricos de forma eficiente e segura. Conte conosco para garantir o bom funcionamento e a segurança do sistema elétrico de sua propriedade. Entre em contato conosco hoje mesmo para obter mais informações e agendar um serviço. Estamos aqui para ajudar!</p>
                    <div class="btn-contato">
                        <a routerLink="/eletrica">
                            <button (click)="scrollToTop()">VER MAIS</button>
                        </a>
                    </div>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../assets/img/eletro.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>