<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../../assets/img/automacao-residencial.jpg" alt="">
                </div>
                <div class="tipo-site">
                    <h1>AUTOMAÇÃO</h1>
                    <h4>Serviços Que Elaboramos</h4>
                    <ul>
                        <li>Automaçao de lâmpada, portão eletronico, eletrodomésticos, piscina, jardim, ar-condicionado, smart tv, ventilador e mais...</li>
                        <li>Conectividade com Alexa e GoogleHome</li>
                        <li>Instalação e manutenção de câmeras de segurança.</li>
                        <li>Criação de projeto.</li>
                        <li>Consultoria.</li>
                    </ul>
                    <div class="btn-contato">
                        <a routerLink="/contato">
                            <button>FAÇA SEU ORÇAMENTO</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>