<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>AR-CONDICIONADO</h1>
                    <p>Estamos comprometidos em garantir o seu conforto térmico durante todas as estações do ano. Especializados em instalação e reparo de sistemas de ar condicionado, nossa equipe experiente e dedicada está pronta para atender às suas necessidades com eficiência e profissionalismo. Desde instalações personalizadas para residências até projetos comerciais, estamos aqui para oferecer soluções de climatização sob medida para você. Além disso, com nossos serviços abrangentes de manutenção e reparo, garantimos que seu sistema funcione de maneira confiável e eficiente ao longo do tempo. Entre em contato conosco hoje mesmo e descubra como podemos tornar seu ambiente mais confortável e acolhedor, não importa o clima lá fora.</p>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../assets/arcondimg.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>