<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h4>Bem-vindo, sua fonte confiável para serviços de certificação CLCB e AVCB, assim como para uma variedade de soluções em elétrica, ar-condicionado e automação. Nosso compromisso é garantir que residências e estabelecimentos comerciais tenham acesso a serviços de qualidade que proporcionem segurança, conforto e eficiência.</h4>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../assets/img/logocombat.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>