<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>SOBRE NÓS</h1>
                    <p>Bem-vindo ao nosso espaço, onde a expertise se encontra com a excelência em serviços de Plano de Prevenção, Proteção e Combate a Incêndio, instalação e reparo elétrico, além da instalação de ar condicionado.</p>
                    <p>Somos uma empresa dedicada a fornecer soluções completas e inovadoras em planos de prevenção, proteção e combate a incêndio, garantindo a segurança e a proteção do seu patrimônio. Com uma equipe altamente qualificada e experiente, estamos preparados para atender às necessidades mais exigentes dos nossos clientes, garantindo conformidade com as normas vigentes e a tranquilidade de nossos clientes.</p>
                    <p>Além disso, oferecemos serviços especializados em instalação e reparo elétrico, abrangendo desde pequenos reparos até instalações elétricas completas em residências, empresas. Também estamos capacitados para a instalação eficiente de sistemas de ar condicionado, proporcionando conforto térmico em diversos ambientes.</p>
                    <p>Ao escolher nossa empresa, você está optando por um parceiro confiável e dedicado, comprometido em superar suas expectativas e garantir resultados de excelência em cada projeto.</p>
                    <p>Conte conosco para transformar suas ideias em realidade e proporcionar soluções eficazes para suas necessidades de segurança, instalação elétrica e climatização. Estamos aqui para servir e colaborar com o seu sucesso.</p>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../assets/img/logocombat.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>