<main>
    <section class="topo-do-site">
        <div class="interface">
            <div id="tela" class="fex">
                <div class="tipo-site">
                    <h1>AR-CONDICIONADO</h1>
                    <p>Oferecemos serviços especializados em ar-condicionado. Nosso time está pronto para atender às suas necessidades, desde instalação até manutenção. Garantimos conforto térmico e qualidade do ar em seu espaço, seja residencial ou comercial. Conte conosco para soluções eficientes e confiáveis em climatização. Entre em contato para um orçamento sem compromisso.</p>
                    <div class="btn-contato">
                        <a routerLink="/arcond">
                            <button (click)="scrollToTop()">VER MAIS</button>
                        </a>
                    </div>
                </div>
                <div class="img-topo-site">
                    <img class="logo-corpo" src="../../../assets/img/arcondimg.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>